body {
    background-image: url(../images/fondo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}
.logo{
    display: block;
    margin:auto;
}
.recibo.active{
    display:block;
}
.ticket{
    display:block;
    margin-left: 170px;
    background-color: #fff;
    float: left;
    width: 30%;
    color:#000;
    font-family: 'Alice';
}
.imagen img{
    display:block;
    margin: auto;
}
.asteriscos{
    text-align: center;
}
.p{
    margin-left:10px;
}
.pago{
    float: right;
    display:flex;
    width: 50%;
}