body {
    background-image: url(../images/fondo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Potta One", cursive;
    color: #fff;
}
.logo{
    display: block;
    margin:auto;
}
.ticket{
    display:block;
    margin-left: 170px;
    background-color: #fff;
    float: left;
    width: 30%;
    color:#000;
    font-family: 'Alice';
}
.imagen img{
    display:block;
    margin: auto;
}
.asteriscos{
    text-align: center;
}
.p{
    margin-left:10px;
}
.pago{
    float: right;
    display:flex;
    width: 50%;
}
.form-control {
    height: 50px;
    background: transparent;
    border: solid 1px rgba(255, 255, 255, 0.8) ;
    color:rgba(255, 255, 255, 0.8) ;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
label{
    color:#fff
}
.form-select{
    height: 50px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: #fff !important;
}

.btn-primary{
    background: #fff;
  color: #000 !important;

}
.social .btn-primary:hover{
    background: #a6ddff;
    color: #008575 !important;
  }
  .tarjeta{
    width: 300px;
    height: 25px;
}
.mes{
    width: 80px;
    height: 20px;
    margin-right: 5px;
}
.anio{
    width: 80px;
    height: 20px;
    margin-right: 5px;
}
.cvv{
    width: 90px;
    height: 20px;
    margin-right: 5px;
}
.cancelar{
    margin-left: 80px;
}
.errorMes{
    display:none;
}
.errorMes.active{
    display:flex;
    color:red;
}
.errorAnio{
    display:none;
}
.errorAnio.active{
    display:flex;
    color:red;
}
.tarjeta.incorrecto{
    border:solid 2px red;
    background-color: lightcoral;
    background-image: url("../images/wrong.png");
    background-repeat: no-repeat;
    background-position: right;
}
.tarjeta.correcto{
    border:solid 2px green;
    background-color: lightgreen;
    background-image: url("../images/correct.png");
    background-repeat: no-repeat;
    background-position: right;
}
.errorTarjeta{
    display:none;
}
.errorTarjeta.active{
    display:flex;
    color:red;
}
.tarjeta.incorrecto{
    border:solid 2px red;
    background-color: lightcoral;
    background-image: url("../images/wrong.png");
    background-repeat: no-repeat;
    background-position: right;
}
.tarjeta.correcto{
    border:solid 2px green;
    background-color: lightgreen;
    background-image: url("../images/correct.png");
    background-repeat: no-repeat;
    background-position: right;
}
.errorTarjeta{
    display:none;
}
.errorTarjeta.active{
    display:flex;
    color:red;
}
.mes.incorrecto{
    border:solid 2px red;
    background-color: lightcoral;
    background-image: url("../images/wrong.png");
    background-repeat: no-repeat;
    background-position: right;
}
.mes.correcto{
    border:solid 2px green;
    background-color: lightgreen;
    background-image: url("../images/correct.png");
    background-repeat: no-repeat;
    background-position: right;
}
.anio.incorrecto{
    border:solid 2px red;
    background-color: lightcoral;
    background-image: url("../images/wrong.png");
    background-repeat: no-repeat;
    background-position: right;
}
.anio.correcto{
    border:solid 2px green;
    background-color: lightgreen;
    background-image: url("../images/correct.png");
    background-repeat: no-repeat;
    background-position: right;
}
.cvv.incorrecto{
    border:solid 2px red;
    background-color: lightcoral;
    background-image: url("../images/wrong.png");
    background-repeat: no-repeat;
    background-position: right;
}
.cvv.correcto{
    border:solid 2px green;
    background-color: lightgreen;
    background-image: url("../images/correct.png");
    background-repeat: no-repeat;
    background-position: right;
}
.errorMes{
    display:none;
}
.errorMes.active{
    display:flex;
    color:red;
}
.errorAnio{
    display:none;
}
.errorAnio.active{
    display:flex;
    color:red;
}
.errorCVV{
    display:none;
}
.errorCVV.active{
    display:flex;
    color:red;
    margin-left: 220px;
}