body {
    background-image: url(../images/fondo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.eslogan {
    font-family: "Potta One", cursive;
    color: #fff;
}

.info {
    font-family: 'Alice';
}
.card{
    margin-left: 20px;
}
.card img{
    margin-left: 20px;
}
.row{
    margin-top: 20px;
}
.card-title{
    text-align: center;
}
.card-text{
    margin-left: 20px;
}
.btn{
    margin-left: 20px;
}