body {
    background-image: url(../images/fondo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
    font-family: "Potta One", cursive;
    color: #fff;
}
.login-wrap h3 {
    font-family: 'Alice';
    color: #fff;
}
.login-wrap .social a {
    width: 100%;
    display: block;
    color: #000;
    background: #fff;
    margin-left: 10px;;
}
.form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 40px;
    padding: 20px;
    margin-bottom: 20px;
}
.form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8) !important;
}
.rmfp{
    color:#fff;
}
.fpass{
    color:#fff;
}
.btn-primary{
    background: #fff;
  color: #000 !important;
}
.social .btn-primary:hover{
    background: #a6ddff;
    color: #008575 !important;
}
.errSesion{
    display: none;
}
.errSesion.active{
    display: flex;
    margin-bottom: 10px;
}
.cuentaNoExist{
    display: none;
}
.cuentaNoExist.active{
    display: flex;
    margin-bottom: 10px;
}
.footer{
    margin-top: 10px;
}
.footer img{
    display:block;
    margin: auto;
}