body {
    background-image: url(../images/fondo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
    font-family: "Potta One", cursive;
    color: #fff;
}
.logo{
    display: block;
    margin:auto;
}
.ticket{
    background-color: #fff;
    color:#000;
    font-family: 'Alice';
    margin:20px 20px 10px 20px;
}
.imagen img{
    display:block;
    margin: auto;
}
.asteriscos{
    text-align: center;
}
p{
    text-align: center;
}
h5{
    text-align: center;
}